{% extends 'base.html' %}
{% block title %}
  {% if is_edit %}
    Редактирование записи
  {% else %}
    Новая запись
  {% endif %}
{% endblock %}
{% block content %}
<div class="row justify-content-center entry-add p-5">
  <h2>
    {% if is_edit %}
      Редактирование записи
    {% else %}
      Новая запись
    {% endif %}
  </h2>
  {{ form.media }}
    {% load user_filters %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
        {{ form.title }}
        {{ form.text }}
        <div class="input-group">
          {{ form.tape|addclass:'form-select' }}
          <button type="submit" class="btn btn-outline-secondary" type="button">
            {% if is_edit %}
              Сохранить
            {% else %}
              Создать
            {% endif %}
          </button>
        </div>
    </form>
</div>
<script>
var quill = new Quill('#editor', {
  theme: 'bubble'   // Specify theme in configuration
});
</script>
{% endblock %}
