{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  {{ entry.text|slice:":30" }}
{% endblock %}
{% block content %}
  <div class="entry_detail py-5 mt-5 pad-1">
    {% include '../includes/entry.html' %}

    {% load user_filters %}
    {% if user.is_authenticated %}
          <form method="post" action="{% url 'talks:talk_add' entry.id %}">
            {{ form.media }}
            {% csrf_token %}
              <div class="form-group mb-2">
                {{ form.text }}
              </div>
            <button type="submit" class="btn btn-primary">Комментировать</button>
          </form>
    {% endif %}

    <div class="infinite-container py-4">
        {% include '../talks/list.html' %}
    </div>
  </div>

{% endblock %}
