{% extends 'base.html' %}
{% block title %}
  {% if is_edit %}
    Редактирование записи
  {% else %}
    Новая запись
  {% endif %}
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <h2>
    {% if is_edit %}
      Редактирование записи
    {% else %}
      Новая запись
    {% endif %}
  </h2>
  {{ form.media }}
    {% load user_filters %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-text-write">
        {{ form.text }}
      </div>
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">
          {% if is_edit %}
            Сохранить
          {% else %}
            Создать
          {% endif %}
        </button>
      </div>
    </form>
</div>
{% endblock %}
