{% extends 'base.html' %}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}
{% block title %}
  тайтл
{% endblock %}
{% block content %}
  <div class="infinite-container">
    {% for entry in entries %}
      <div class="infinite-item">
        {% include '../includes/entry.html' %}
      </div>
    {% endfor %}
  </div>
  {% if entries.has_next %}
    <a class="infinite-more-link" href="?page={{ entries.next_page_number }}">Дальше</a>
  {% endif %}

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
  </script>
{% endblock %}
