{% extends 'base.html' %}
{% load static %}
{% block title %}
  tape Your life ~
{% endblock %}
{% block content %}
  <div class="infinite-container pad-1 py-5 mt-5">
    {% if not entries %}
      <h2>Привет! :)</h2>
      Данная запись пропадет после добавления первого же поста, а пока зарегистрируйся, настрой профиль, создай ленту и добавь в неё свой первый пост
      Больше подробностей в readme файле репозитория
    {% endif %}
    {% include '../includes/entry_list.html' %}
  </div>
{% endblock %}
