{% extends 'base.html' %}
{% load static %}
{% block title %}
  тайтл
{% endblock %}
{% block content %}
<div class="row profile">
  <div class="col-7">
    <h1 class="fw-bolder">
      <span class="tilda">~</span>{{ user.username }}
    </h1>
  </div>
  <div class="col-5 subscribe text-end align-items-center">
    {% if request.user != author %}
      {% if is_sub %}
        <a href="#" class="notice">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-broadcast" viewBox="0 0 16 16">
            <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
          </svg>
        </a>
        <a
          class="btn btn-lg btn-light sub-true"
          href="{% url 'tape:unsubscribe' author.username %}" role="button"
        >
          Вы подписаны
        </a>
      {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'tape:subscribe' author.username %}" role="button"
          >
            Подписаться
          </a>
       {% endif %}
    {% endif %}
  </div>
    {% if user.get_full_name %}
      <div class="col-12">
        <h4>
          <span class="full-name">
            {{ user.get_full_name }}
          </span>
        </h4>
      </div>
    {% endif %}
</div>


  <div class="infinite-container">
    {% for entry in entries %}
      <div class="infinite-item">
        {% include '../includes/entry.html' %}
      </div>
    {% endfor %}
  </div>
  {% if entries.has_next %}
    <a class="infinite-more-link" href="?page={{ entries.next_page_number }}">Дальше</a>
  {% endif %}

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
  </script>
{% endblock %}
