{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  {% if entry.title %}
    {{ entry.title }}
  {% else %}
    Без заголовка
  {% endif %}
{% endblock %}
{% block content %}
  <div class="entry_detail">
    {% include '../includes/entry.html' %}

    {% load user_filters %}
    {% if user.is_authenticated %}
          <form method="post" action="{% url 'entries:comment_add' entry.id %}">
            {{ form.media }}
            {% csrf_token %}
              <div class="form-group mb-2">
                {{ form.text }}
              </div>
            <button type="submit" class="btn btn-primary">Комментировать</button>
          </form>
    {% endif %}

    <div class="infinite-container">
      {% for comment in comments %}
      <div class="media mb-4 comment-list infinite-item">
        <div class="media-body">
          <span class="fw-bold username">
            <a href="{% url 'users:profile' entry.author.username %}">~{{ comment.author.username }}</a>
          </span>
          {% if comment.author.get_full_name %}
            <span class="fw-light">он же</span>
            <span class="fw-bold full_name">{{ comment.author.get_full_name }}</span>
          {% endif %}
          <span class="fw-light">
            {% if today_time == comment.created.date %}
              {{ comment.created|naturaltime }}:
            {% else %}
              {{ comment.created|naturalday }}:
            {% endif %}
          </span>
            <p>
             {{ comment.text.html|safe }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if comments.has_next %}
      <a class="infinite-more-link" href="?page={{ comments.next_page_number }}">Дальше</a>
    {% endif %}
  </div>


  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
  </script>
{% endblock %}
