{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
  тайтл
{% endblock %}
{% block before-content %}
{% if tapes.background %}
  <div class="row container-fluid profile-top">
    <div class="col-3">
    </div>
    <div class="col-6 profile-background-img" style="background-image: url('{{ tapes.background.url }}'); background-position: top left; background-size: inherit;">
    </div>
  </div>
{% else %}
  <div class="row container-fluid profile-top">
    <div class="col-3">
    </div>
    <div class="col-6 profile-background-img">
    </div>
  </div>
{% endif %}
{% endblock %}
{% block content %}
<div class="row profile pad-1 mt-4">
  <div class="col-6 profile-name">
    <h2 class="fw-bolder">
      {{ tapes.title }}
    </h2>
  </div>
  <div class="col-6 subscribe text-end ms-auto mt-auto mb-0">
    {% if request.user.is_staff and request.user != author %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
      </svg>
    {% endif %}
    {% if request.user == author %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
      </svg>
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'entries:tape_edit' username=tapes.author.username slug=tapes.slug %}" role="button"
      >
        Редактировать
      </a>
    {% endif %}
  </div>

{% if tapes.description and tapes.description.plain != '' %}
  <div class="col-12 about-me">
    {{ tapes.description.html|safe|urlize }}
  </div>
{% endif %}


{% if request.user.is_authenticated and request.user == author %}

<div class="add-entry">
  {{ form.media }}
  {% load user_filters %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="mb-3 py-2">
        <label class="form-label fw-light">Заголовок (не обязательно)</label>
        {{ form.title|addclass:'form-control' }}
      </div>
      {{ form.text }}
      <div class="input-group pb-4">
        {{ form.tape|addclass:'form-select' }}
        <button type="submit" class="btn btn-outline-secondary" type="button">
          {% if is_edit %}
            Сохранить
          {% else %}
            Отправить
          {% endif %}
        </button>
      </div>
  </form>
</div>
{% endif %}

<div class="my-5">
  {% include '../includes/entry_list.html' %}
</div>

{% endblock %}
