{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Вход на сайт{% endblock %}
{% block content %}
<div class="row pad-1">
    <h1 class="col-12 mt-5 pt-5">Вход на сайт</h1>
    <div class="col-6 pb-5">
      <form method="post">
        {% csrf_token %}

        <div class="modal-body pt-5">

          <div class="{% if form.non_field_errors %}invalid{% endif %} mb-3 text-secondary">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>

          {% for field in form %}
            <div class="form-group mb-4 mt-2">
              {% render_field field class="form-control" placeholder=field.label %}
              <div class="{% if field.errors %} invalid{% endif %}">
                {% for error in field.errors %}
                  <p class="help-block mt-2 text-secondary">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
          {% endfor %}

        </div>

        <div class="modal-footer pt-0">
          <button type="submit" class="btn btn-primary">Вход</button>
        </div>

      </form>
    </div>
    <div class="col-6 py-5 mt-4">
      <p>
        <a id="signup-url" href="#">
            Регистрация
        </a>
      </p>
      <p>
        <a id="signup-url" href="#">
            Забыли пароль?
        </a>
      </p>
    </div>
</div>
{% endblock %}
