{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
{% load user_filters %}
<div class="row justify-content-center auth">
  <div class="col-md-8 auth-col">
    <p>
      Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
    </p>
    <div class="card-body">
      <form method="post"
            action="{% url 'users:password_reset_form' %}">
        {% csrf_token %}
        <div class="form-group row my-3 p-3">
          <label for="id_email">
            Адрес электронной почты
            <span class="required text-danger">*</span>
          </label>
          <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
        </div>
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary">
            Сбросить пароль
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-4 auth-col-img"></div>
</div>
{% endblock %}
