{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
{% load user_filters %}
{% load widget_tweaks %}
<div class="p-5 mt-4">
  <div class="col-md-6 col-12 pt-3">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-3 text-secondary">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
        <p class="mt-2 mb-2 fw-bold">{{ field.label}}</p>
        <p>{{ field|addclass:'form-control' }}</p>
        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block mt-2 text-secondary">{{ error }}</p>
          {% endfor %}
        </div>
        <p class="fw-light">{{ field.help_text }}</p>
      {% endfor %}
      <button class="btn btn-primary" type="submit">
        Смена пароля
      </button>
    </form>
  </div>
</div>
{% endblock %}
