{% load widget_tweaks %}
<div class="modal-header pb-0 mb-0">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form method="post" action="">
  {% csrf_token %}

  <div class="modal-body pt-4 px-5">
    <h3 class="modal-title pb-3">Новый пользователь</h3>
    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-3 text-secondary">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    {% for field in form %}
      <div class="form-group mb-4 mt-2">
        {% render_field field class="form-control" placeholder=field.label %}
        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block mt-2 text-secondary">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="modal-footer pt-0 pb-5 px-5">
    <button type="submit" class="btn btn-primary">Регистрация</button>
  </div>

</form>
