body {
  background: #eae9f5;
}
.container-fluid.main {
  margin: 0;
  padding: 0;
}
.container-fluid .content {
  margin-top: 3rem;
  background: #ffffff;
}
.container-fluid .right-content {
  background: #eae9f5;
}
a {
  color: #9d276d;
  transition: 0.3s;
  text-decoration: none;
}
a:hover {
  transition: 0.3s !important;
}
.btn {
  background-color: #9d276d;
  border: none;
  font-size: 1rem;
  color: #fff;
}
.btn.sub-true {
  background-color: #aaa;
}
.btn.sub-true:hover {
  color: #555;
}
.full-name {
  color: #777;
}
.entry-names {
  font-size: 1.1rem;
}
.entry-names .full-name {
  margin-left: .5rem;
}
.profile {
  margin-bottom: 3rem;
}
.profile .tilda {
  color: #9d276d;
  margin-right: 0.3rem;
  font-weight: bold;
}
.profile .btn {
  font-size: .7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
.profile .subscribe {
  margin-top: .5rem;
}
.profile .notice {
  margin-right: .8rem;
  color: #888;
}
