.navbar-main {
  background: #dbd5df;
  position: relative;
  z-index: 50;
}
.nav-content input {
  background: #f3ecf8;
  border: none;
}
.nav-content .navbar,
.nav-content .nav-link {
  margin: 0;
  padding: 0;
}
.profile-avatar-mini {
  display: inline-block !important;
  margin-right: .6rem;
}
