@font-face {
    font-family: 'DancingScript-SemiBold';
    src: url('../fonts/DancingScript-SemiBold.ttf');
}
.sidebar {
  background-color: #0e062b;
  -webkit-box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.4);
  box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.4);
  z-index: 100;
}
.logo {
  font-family: 'DancingScript-SemiBold';
  font-size: 5vw;
  white-space: nowrap;
  color: #b3adc5;
  padding: 0 2rem 0 .1rem;
  margin-top: -1rem;
}
.logo a {
  text-decoration: none;
}
.logo .tilda {
  color: #9d276d;
  margin-right: 0;
  font-size: 7rem;
  font-weight: bolder;
}
.logo .logo-text {
  background: #E7ACEB;
  background: repeating-linear-gradient(to right, #E7ACEB 0%, #E2E6F5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar .menu {
  margin-top: 2rem;
  margin-left: 1.2rem;
}
.sidebar .menu a {
  color: #b3adc5;
  letter-spacing: 0.1rem;
  text-align: left;
  font-size: .9rem;
  margin-bottom: .9rem;
  padding: .3rem .5rem;
}
.sidebar .menu .nav-txt,
.sidebar .menu .nav-img {
  padding: 0;
  margin: 0;
}
.sidebar .menu .nav-txt {
  padding-left: .8rem;
  margin-top: -.2rem;
}
.sidebar .menu .nav-img {
  vertical-align: middle;
  text-align: right;
  color: #9d276d;
}
.sidebar .menu a:hover .nav-img {
  color: #b3adc5 !important;
}
.sidebar .credits {
  padding: 1rem 1rem 1rem 1.6rem;
  color: #746c8c;
  font-size: .85rem;
}
.sidebar .credits p {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  margin-right: 4rem;
  position: relative;
}
.sidebar .credits-links a {
  padding-right: .7rem;
  color: #746c8c;
}
