{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  {{ entry.text|slice:":30" }}
{% endblock %}
{% block content %}
{% load humanize %}
{% if not comment.reply %}
<div class="media mb-4 mt-5 pt-5 comment-list infinite-item">
  <div class="media-body">
    <span class="fw-bold username">
      <a href="{% url 'tape:profile' comment.author.username %}">~{{ comment.author.display_username }}</a>
    </span>
    {% if comment.author.get_full_name %}
      <span class="fw-light">он же</span>
      <span class="fw-bold full_name">{{ comment.author.get_full_name }}</span>
    {% endif %}
    <span class="fw-light">
      {% if today_time == comment.created.date %}
        {{ comment.created|naturaltime }}:
      {% else %}
        {{ comment.created|naturalday }}:
      {% endif %}
    </span>
      <p>
       {{ comment.text }}
      </p>
    </div>
  </div>
    {% include '../includes/comment_detail_list.html' %}
{% endif %}
{% endblock %}
