{% with request.resolver_match.view_name as view_name %}
{% for entry in entries %}
  {% include '../includes/entry.html' %}
{% endfor %}
{% if entries.has_next %}
  <div hx-get="
  {% if view_name  == 'entries:index' %}
    {% url 'entries:index' %}?page={{ entries.number|add:1 }}
  {% elif view_name  == 'entries:feed' %}
    {% url 'entries:feed' %}?page={{ entries.number|add:1 }}
  {% elif view_name  == 'entries:saved' %}
    {% url 'entries:saved' %}?page={{ entries.number|add:1 }}
  {% elif view_name  == 'entries:liked' %}
    {% url 'entries:liked' %}?page={{ entries.number|add:1 }}
  {% elif view_name  == 'entries:profile' %}
    {% url 'entries:profile' user.display_username %}?page={{ entries.number|add:1 }}
  {% elif view_name  == 'entries:tape' %}
    {% url 'entries:tape' tapes.author.display_username tapes.slug %}?page={{ entries.number|add:1 }}
  {% endif %}
  " hx-trigger="revealed" hx-swap="afterend" hx-target="this">
{% endif %}
{% endwith %}
