{% load humanize %}
{% load thumbnail %}
<div class="infinite-item">
  <div class="entry-content">
    <div class="head row py-3">
      <div class="col-8 entry-names">
          <a href="{% url 'users:profile' entry.author.username %}">
            {% thumbnail entry.author.avatar "36x36" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="profile-avatar-mini me-1">
            {% endthumbnail %}
            <span class="fw-bold">
              {{ entry.author.username }}
            </span>
            {% if entry.author.is_verified %}
            <i class="bi bi-patch-check-fill bi-small"></i>
            {% endif %}
          </a>

        {% if entry.author.full_name and entry.author.show_full_name %}
          <span class="fw-bold full-name">{{ entry.author.full_name }}</span>
        {% endif %}
        {% if entry.tape %}
        <a href="{% url 'entries:tape' entry.author.username entry.tape.slug %}" class="me-2">
        ~ {{ entry.tape.title }}</a>
        {% endif %}
      </div>
      <div class="col-4 text-end text-align-center">
          <span class="fw-light">
            {% if today_time == entry.created.date %}
              {{ entry.created|naturaltime }}
            {% else %}
              {{ entry.created|naturalday }}
            {% endif %}
          </span>
      </div>
        {% if entry.title %}
        <h1 class="pt-3 pb-0 mb-1">
          {{ entry.title }}
        </h1>
        {% endif %}
    </div>
    {% if entry.text %}
    <div class="entry-text">
        {{ entry.text.html|safe|urlize }}
    </div>
    {% endif %}


    <div class="footer-icons">

      <div class="pb-5" id='comments'>

      <div class="comment-area d-inline me-3">
        <a href="{% url 'entries:entry_detail' entry.id %}#comments" class="text-decoration-none">
          <i class="bi bi-chat-dots bi-small"></i>
          <span class="fw-light ms-1">{{ entry.comments.count }}</span>
        </a>
      </div>

      <div class="like-area d-inline me-3">
        {% include "htmx/mark-area.html" %}
      </div>

      <div class="like-area d-inline me-3">
        {% include "htmx/like-area.html" %}
      </div>

      <div class="share-area dropend d-inline me-4">
        <a
          class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" href="" role="button"
        >
        <i class="bi bi-box-arrow-up bi-ms"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item disabled fw-light" href="#">Поделиться</a></li>
          <li><a class="dropdown-item" href="#">Telegram</a></li>
          <li><a class="dropdown-item" href="#">VK</a></li>
        </ul>
      </div>
    </div>

    </div>
  </div>
</div>
