{% load static %}
{% load thumbnail %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}
<nav class="navbar navbar-main raw position-fixed container-fluid">
  <div class="col-3">

  </div>
  <div class="nav-content container-fluid raw col-6">
    <div class="user-nav col-8">
      <nav class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <div class="dropdown">
                <a
                  class="btn btn-lg btn-primary add-content dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                  href="{% url 'tape:entry_add' %}" role="button"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" stroke="#9d276d" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
                <span class="add-entry">
                  Добавить
                </span>
                </a>
                <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item" href="{% url 'tape:tape_add' %}">Ленту</a></li>
                  <li><a class="dropdown-item" href="{% url 'tape:entry_add' %}">Запись</a></li>
                </ul>
              </div>

              {% if request.user.is_authenticated %}
                <li class="nav-item nav-link">
                  <div class="dropdown">
                    <a class="dropdown-toggle profile-link" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                    href="{% url 'tape:profile' request.user.username %}">
                        <span class="tilda">~</span>
                        {% if request.user.display_username %}
                        {{ request.user.display_username }}
                        {% else %}
                        {{ request.user.username }}
                        {% endif %}
                        {% thumbnail request.user.avatar "32x32" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="profile-avatar-mini">
                        {% endthumbnail %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <li><a class="dropdown-item" href="{% url 'tape:profile' username=request.user.username %}">Мой профиль</a></li>
                      <li><a class="dropdown-item" href="{% url 'users:user_edit' %}">Редактировать</a></li>
                      <li><a class="dropdown-item" href="#">Смена пароля</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                    </ul>
                  </div>
                </li>
              {% elif 'login' not in request.path %}
                <li class="nav-item nav-link">
                  <a id="login-url" class="nav-link profile-link" href="#">
                      Вход
                  </a>
                </li>
                <li class="nav-item nav-link">
                  <a id="signup-url" class="nav-link profile-link" href="#">
                      Регистрация
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
      </nav>
    </div>
    <div class="search-nav col-4">
      <form>
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
      </form>
    </div>
  </div>
  <div class="col-3">
  </div>
</nav>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script type="text/javascript">
  $(function () {
    $("#login-url").modalForm({
        formURL: "{% url 'users:login_modal' %}"
    });
    $("#signup-url").modalForm({
        formURL: "{% url 'users:signup_modal' %}"
    });
  });
</script>
