{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}
<div class="sidebar raw position-fixed h-100 pe-4 ps-4 col-2">
    <div class="logo">
      <a href="{% url 'tape:index' %}">
        <span class="tilda">~</span><span class="logo-text">tapes</span>
      </a>
    </div>
    <ul class="nav flex-column menu">
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="{% url 'tape:entry_add' %}">Новый пост</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="{% url 'tape:tape_add' %}">Новая лента</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
          </svg>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="{% url 'tape:feed' %}">Подписки</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-broadcast" viewBox="0 0 16 16">
            <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
          </svg>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="#">Уведомления</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filter-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM3.5 5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zM5 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="#">Ленты</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
            <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
          </svg>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="#">Записи</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bookmarks-fill" viewBox="0 0 16 16">
            <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/>
            <path d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z"/>
          </svg>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="#">Сохраненное</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-hearts" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015Zm6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343ZM7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358Z"/>
          </svg>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="#">Понравившееся</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat-right-dots-fill" viewBox="0 0 16 16">
            <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </svg>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="#">Комментарии</a>
        </div>
      </li>
    </ul>
    <div class="fixed-bottom credits col-2">
      <p class="credits-links">
        <a href="#" class="fw-light">Правила</a>
        <a href="#" class="fw-light">Правовая информация</a>
        <a href="#" class="fw-light">Сотрудничество и реклама</a>
        <a href="#" class="fw-light">Авторские права</a>
        <a href="#" class="fw-light">Пресса</a>
        <a href="#" class="fw-light">Вакансии</a>
      </p>
      <p class="fw-bold">© {% now 'Y' %} Tapes company</p>
    </div>
</div>
