{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}
<div class="sidebar raw position-fixed h-100 pe-4 ps-4 col-2">
    <div class="logo">
      <a href="{% url 'entries:index' %}">
        <span class="tilda">~</span><span class="logo-text">tapes</span>
      </a>
    </div>
    <ul class="nav flex-column menu">
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <i class="bi bi-people-fill bi-medium"></i>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="{% url 'entries:feed' %}">Подписки</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <i class="bi bi-broadcast bi-medium"></i>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="#">Уведомления</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <i class="bi bi-filter-circle-fill bi-medium"></i>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="#">Ленты</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <i class="bi bi-collection-fill bi-medium"></i>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="#">Записи</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <i class="bi bi-bookmarks-fill bi-medium"></i>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="{% url 'entries:saved' %}">Сохраненное</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <i class="bi bi-heart-fill bi-medium"></i>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="{% url 'entries:liked' %}">Понравившееся</a>
        </div>
      </li>
      <li class="nav-item row">
        <div class="col-1 nav-img">
          <i class="bi bi-chat-right-dots-fill bi-medium"></i>
        </div>
        <div class="col-11 nav-txt">
          <a class="nav-link" href="#">Комментарии</a>
        </div>
      </li>
    </ul>
    <div class="fixed-bottom credits col-2">
      <p class="credits-links">
        <a href="#" class="fw-light">Правила</a>
        <a href="#" class="fw-light">Правовая информация</a>
        <a href="#" class="fw-light">Сотрудничество и реклама</a>
        <a href="#" class="fw-light">Авторские права</a>
        <a href="#" class="fw-light">Пресса</a>
        <a href="#" class="fw-light">Вакансии</a>
      </p>
      <p class="fw-bold">© {% now 'Y' %} Tapes company</p>
    </div>
</div>
