{% load humanize %}
<a name="reply-{{ reply.id }}"></a>
<div class="ms-5 mb-3">
  <span class="fw-bold username">
    <a href="{% url 'tape:profile' reply.author.username %}">~{{ reply.author.display_username }}</a>
  </span>
  <a href="#reply-{{ reply.id }}"> #{{ reply.id }}</a>
  <p>{{ request.path }}</p>
  <span class="fw-light">
    {% if today_time == reply.created.date %}
      {{ reply.created|naturaltime }}:
    {% else %}
      {{ reply.created|naturalday }}:
    {% endif %}
  </span>
  <p>{{ reply.text }}</p>
  {% if user.is_authenticated %}
    <a id="reply_form" hx-get="{% url 'talks:talk_reply' talk.entry.id talk.id %}" hx-target="this" classes="toggle faded:1s" hx-swap="outerHTML" hx-trigger="click">
         Ответить
    </a>
  {% endif %}
</div>
